extends index

append content
  div.well
    div.alert.alert-warning
      strong Hold on! 
      span This program requires a password to access.
    form(method="post", action="/#{id}")
      input#password.span2(type="password", name="password")
      input#passwordButton.btn.btn-success(type="submit") Submit