extends tri

append left
  h2 Code
  textarea#editor.inset
    - if(typeof code !== 'undefined')
      !{code}
  
append right
  div#rightFix
    div#consoleContainer
      h2 Displays
      pre#console.console
        div.btn-group
          button#show-lem.btn.btn-inverse
            span LEM1802
          button#show-sped.btn.btn-inverse
            span SPED-3
        canvas#canvas(width="420", height="324", style="margin-left:auto;margin-right:auto;display:none")
        canvas#fontCanvas(width="128", height="32", style="display:none")
        div#sped3(style="width:256px;height:256px;margin-left:auto;margin-right:auto;display:none")
    div#error.alert.alert-error(style="display:none")
      strong ERROR: 
      span
    div.btn-toolbar
      div.btn-group
        button#run.btn.btn-action
          i.icon-play
          span Run
        button#stop.btn.btn-action
          i.icon-stop
          span Stop
      div.btn-group
        button#debug.btn.btn-danger(data-toggle="button")
          i#debugIcon.icon-chevron-down.icon-white
          span Debug
      form.form-inline
        select#assembler
          option(value='0x10code') 0x10code
          option(value='dcputoolchain') DCPU Toolchain
    div#debugger.collapse.accordion-group.inset
      div.margined
        div.btn-group
          button#step.btn.btn-action
            i.icon-step-forward
            span Step
          button#reset.btn.btn-action
            i.icon-repeat
            span Reset
        textarea#debugDump(cols="50", rows="32", style="width:100%;font-family:monospace")
        
append scripts
  script(src="/js/cpu.js")
  script(src="/js/assembler.js")
  script(src="/js/Keyboard.js")
  script(src="/js/Clock.js")
  script(src="/js/LEM1802.js")
  script(src="/js/three.min.js")
  script(src="/js/SPED3.js")
  script(src="/js/M35FD.js")
  script(src="/js/Disk.js")
  script(src="/js/codemirror.js")
  script(src="/js/mode.js")
  script(src="/js/ui.js")
