extends tri

append left
  h2 Code
  textarea#editor.inset
    - if(typeof code !== 'undefined')
      #{code}
  
append right
  div#rightFix
    div#consoleContainer
      h2 Console
      pre#console.console
        canvas#canvas(width="420", height="324")
        canvas#fontCanvas(width="128", height="32", style="display:none")
    div#error.alert.alert-error(style="display:none")
      strong ERROR: 
      span
    div.btn-toolbar
      div.btn-group
        button#run.btn.btn-action
          i.icon-play
          span Run
        button#stop.btn.btn-action
          i.icon-stop
          span Stop
      div.btn-group
        button#debug.btn.btn-danger(data-toggle="button")
          i#debugIcon.icon-chevron-down.icon-white
          span Debug
    div#debugger.collapse.accordion-group.inset
      div.margined
        div.btn-group
          button#step.btn.btn-action
            i.icon-step-forward
            span Step
          button#reset.btn.btn-action
            i.icon-repeat
            span Reset
        textarea#debugDump(cols="50", rows="32", style="width:100%;font-family:monospace")
        
append scripts
  script(src="/js/cpu.js")
  script(src="/js/assembler.js")
  script(src="/js/codemirror.js")
  script(src="/js/mode.js")
  script(src="/js/ui.js")